<form class="row g-3">
    <div class="col-md-4">
        <label for="email" class="form-label">Email</label>
        <!-- add class "is-valid" from server if okay -->
        <!-- add class "is-invalid" from server if not okay -->
        <input type="text" class="form-control" id="email" required>
        <!-- add div for valid or invalid feedback -->
    </div>
    <div class="col-md-4">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" required>
        <!--
        <div class="valid-feedback">
            Looks good!
        </div>
        -->
        <!--
        <div class="invalid-feedback">
            Looks bad!
        </div>
        -->
    </div>
    <div class="col-12">
        <button class="btn btn-primary" type="submit">Login</button>
    </div>

</form>